:root {
    --main-text-color: #ff3e3e;
    --time-remaining-text-color: #00ff00;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {

    background-image: url("../imgs/bg.jpg");
    
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

h1 {
    text-align: center;

    color: var(--main-text-color);
}

#countdown {
    display: flex;
  
    
}

#weeks, #days, #hours, #minutes,  #seconds {
    color: var(--time-remaining-text-color);
    font-weight: bold;
    
}

/* Mobile */
@media only screen and (max-width: 1000px) {

    body {
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-position-x: 160vw;
    }

    h1 {
        margin-top: 5vh;
        font-size: 30px;
    }

    #countdown {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #weeks, #days, #hours, #minutes,  #seconds {
        padding: 10px 10px;
        font-weight: bold;
        font-size: 25px;
        
    }
}

/* Desktop */
@media only screen and (min-width: 1000px) {
    h1 {
        margin: 50px;
        font-size: 40px;
    }

    #countdown {
        margin-top: 20vh;
        font-size: 35px;
        flex-direction: row;
        margin-left: 7vw;
        
        
    }

    #weeks, #days, #hours, #minutes,  #seconds {
        margin: 20px;
    }
}
